
.container {
    width: 400px;
    /* height: 200px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 16px;
    /* padding: 0px 0px; */
    
}
.container:empty{
    display: none;
}

.header {
    padding: 30px 20px;
}
.header p{
    margin-bottom: 10px;
}
.header .icon{
    margin-right: 10px;
}
 
.body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px;
}
.main-info{
    margin-bottom: 10px;
    font-size: 20px;
}

.yellow {
    color: rgb(250 204 21)
}

.green {
    color: green;
}

@media(max-width:480px){
    .container{
        width: 300px;
    }
}
